
.background{
    background-color: #000000;
}
.background1{
    background-color: #1f1f1f;
}

.role{
    float: left;
}
.logo{
    text-align: center;
    color: #272727;
    font-weight: bolder;
}
.login{
    color: #000000;
    font-weight: bolder;
}
.login1{
    color: white;
    font-weight: bolder;
}
.bg-login{
    background-color: white;
    border-radius: 40px;
}
